body{

background: rgb(32, 32, 32);
height: 100vh;
min-height: 600px;
display: flex;
align-items: center;
justify-content: center;

}

div#cabeza{
    
    position: relative;
    background: rgb(1, 94, 1);
    height: 400px;
    width: 400px;
    border-radius: 13%;

}

div#ojoIzquierdo{

    position: absolute;
    border-radius: 50%;
    height: 20%;
    width: 20%;
    background: black;
    top: 23%;
    left: 18%;

}

div#ojoIzquierdo::after{


    
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background: white;

}

div#ojoDerecho{

    position: absolute;
    border-radius: 40%;
    height: 7%;
    width: 20%;
    background: black;
    top: 28%;
    right: 18%;
    transform: rotate(50deg);

}

div#ojoDerecho::after{

    content: "";
    margin: center;
    position: absolute;
    left: 0%;
    border-radius: 40%;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    top: 28%;
    right: 18%;
    transform: rotate(90deg);

}

div#orejaIzquierda{

    position: absolute;
    top: 38%;
    left: -6%;
    height: 13%;
    width: 13%;
    background: rgb(0, 85, 0);
    border-radius: 50%;
    z-index: -1;

}

div#orejaDerecha{

    position: absolute;
    top: 38%;
    left: 94%;
    height: 13%;
    width: 13%;
    background: rgb(0, 85, 0);
    border-radius: 50%;
    z-index: -1;

}

div#boca{

    position: relative;
    left: 50%;
    transform: translate(-50%);
    background: black;
    height: 25%;
    width: 70%;
    border-radius: 60px;
    top: 58%;
    overflow: hidden;


}

div#cerebro{

    position: absolute;
    background: rgb(32, 32, 32);
    height: 24%;
    width: 39%;
    right: -5%;
    top: -8%;
    border-radius: 40%;
    overflow: hidden;
}

div#cerebro::after{

    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(228, 57, 128);
    top: 45%;
    right: 18%;
    border-radius: 30px;
    

}

div#nariz{

    position: absolute;
    left: 50%;
    top: 50%;
    height: 10%;
    width: 10%;
    transform: translate(-50%, -50%);

}

div#nariz::after{

    content: "";
    position: absolute;
    height: 25%;
    width: 25%;
    top: 100%;
    transform: translate(0, -100%);
    background: rgb(20, 20, 20);
    border-radius: 50%;

}

div#nariz::before{

    content: "";
    position: absolute;
    height: 25%;
    width: 25%;
    top: 100%;
    right: 0;
    transform: translate(0, -100%);
    background: rgb(20, 20, 20);
    border-radius: 50%;


}

div#diente1{

    position: absolute;
    height: 52%;
    width: 11%;
    background: rgb(202, 168, 74);
    top: 96%;
    transform: translate(0, -100%);
    left: 25%;
    border-radius: 10px 10px 0 0;
}

div#diente2{

    position: absolute;
    height: 46%;
    width: 8%;
    background: rgb(202, 168, 74);
    top: 4%;
    left: 52%;
    border-radius: 0 0 10px 10px;
    
}

div#diente3{

    position: absolute;
    height: 40%;
    width: 7%;
    background: rgb(202, 168, 74);
    top: 96%;
    transform: translate(0, -100%);
    left: 69%;
    border-radius: 10px 10px 0 0;
    
}

div#baba{

    position: absolute;
    height: 18%;
    width: 13%;
    background: rgb(124, 136, 13);
    top: 76.5%;
    left: 18.5%;
    border-radius: 10px 10px 0 0;

}

div#baba1{

    position: absolute;
    height: 18%;
    width: 3.5%;
    background: rgb(124, 136, 13);
    top: 94%;
    left: 18.5%;
    border-radius: 0 0 10px 10px;

}

div#baba2{
  
    position: absolute;
    height: 26%;
    width: 2.8%;
    background: rgb(124, 136, 13);
    top: 94%;
    left: 23.3%;
    border-radius: 0 0 10px 10px;

}

div#baba3{
  
    position: absolute;
    height: 9.2%;
    width: 4%;
    background: rgb(124, 136, 13);
    top: 94%;
    left: 27.5%;
    border-radius: 0 0 10px 10px;

}

div#detalle1{

    position: absolute;
    height: 10%;
    width: 10%;
    border-radius: 50%;
    background: rgb(49, 129, 49);
    top: 43%;
    left: 12%;

}

div#detalle2{
    
    position: absolute;
    height: 13%;
    width: 13%;
    border-radius: 50%;
    background: rgb(49, 129, 49);
    top: 8%;
    left: 26%;
}

div#detalle3{
      
    position: absolute;
    height: 7%;
    width: 7%;
    border-radius: 50%;
    background: rgb(49, 129, 49);
    top: 63%;
    left: 88%;
}

div#detalle4{
      
    position: absolute;
    height: 3.5%;
    width: 3.5%;
    border-radius: 50%;
    background: rgba(49, 129, 49, 0.493);
    top: 9.5%;
    left: 77%;

}

div#detalle5{
    
    position: absolute;
    height: 7%;
    width: 7%;
    border-radius: 50%;
    background: rgba(49, 129, 49, 0.493);
    top: 4%;
    left: 85%;

}
    
